*~
*.a
*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
src/autotools/compile
src/autotools/config.guess
src/autotools/config.sub
src/autotools/depcomp
src/autotools/install-sh
src/autotools/missing
src/autotools/test-driver
config.h
config.h.in
config.log
config.status
configure
src/librcksum/md4test
src/libzsync/sha1test
stamp-h1
zsync_curl
zsyncmake_curl
src/cmake-build-*/